:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}
.content-container {
  padding: 160px 20px;
}
.content {
  margin: 30px;
}
.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  margin: 20px 0 0;
}
.content p {
  font-size: 14px;
}

.btn-branding {
  border-radius: 4px;
  background-color: var(--branding-color);
  color: white;
  padding: 18px 30px;
  font-size: 18px;
  line-height: 27px;
}
.btn-branding-outline {
  border-radius: 4px;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  padding: 18px 30px;
  font-size: 18px;
  line-height: 27px;
}
.project-description {
  padding: 120px 60px 0;
}
@media (max-width: 960px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 44px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .hero {
    padding: 80px 20px;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
